/* ---> TOP MENU BAR & BOTTOM FOOTER STYLES START <--- */
#bottom-layout {
  text-align: center;
}

#bottom-image {
  width: 100%;
  max-height: 230px;
}

#page-footer {
  text-align: center;
  margin-bottom: -16%;
  color: white;
}

#page-footer-ctpg {
  text-align: center;
  margin-top: 10%;
  margin-bottom: -16%;
  color: white;
}

.bg-red {
  background-color: #fe0000;
  border-bottom: 2px solid black;
  /* opacity: 2.8; */
}

.nav-link {
  font-size: 35px;
  font-weight: bolder;
}

.img-bottom {
  height: 205px;
  vertical-align: middle;
  border-style: none;
  width: 50%;
}
/* ---> TOP MENU BAR & BOTTOM FOOTER STYLES END <--- */

/* ---> CONTACT PAGE STYLES START <--- */
#label-github {
  margin-left: -19.5%;
  margin-bottom: 4%;
}

#contacth2 {
  margin-left: 28%;
  font-size: 40px;
  color: blue;
}

#contacth1 {
  margin-left: 36%;
  font-size: 50px;
  color: blue;
}

.github {
  margin-left: 14%
}

.linkedin {
  float: right;
  margin-right: 18%;
  margin-top: -7.5%;
}

.contact-img {
  height: 125px;
}

.google-form {
  width: 45%;
  margin-left: 25%;
  margin-top: -8%;
}

.contact-btn {
  width: 35%;
  margin-left: 30%;
  margin-top: -10%;
}
/* ---> CONTACT PAGE STYLES END <--- */

/* ---> REFLECTIONS PAGE STYLES START <--- */
#idea-img {
  margin-left: 42%;
}

#reflecth1 {
  margin-left: 38%;
  font-size: 50px;
  color: blue;
}

#reflecth2 {
  margin-left: 27%;
  font-size: 50px;
  color: blue;
}

.reflect-container {
  width: 50%;
  margin-top: 1%;
  margin-left: 24%;
  word-spacing: 5px;
}
/* ---> REFLECTIONS PAGE STYLES END <--- */

/* ---> RESUME PAGE STYLES START <-- */
#content {
  float: left;
}

#content h2 {
  color: #3084c5;
  margin-left: 5%;
}

#resume {
  width: 45%;
  margin-left: 45%;
  margin-top: -20%;
}

#self-img {
  width: 37%;
  float: right;
  margin-right: 7%;
  margin-top: 2%;
}

#resume-img {
  margin-left: 5%;
}

.resume-form {
  width: 50%;
  height: 500px;
  margin-left: 2%;
  margin-top: 2%;
}

.invis-margin {
  margin-top: 5%;
}

.resume-page {
  background-color: #8ec3eb;
}
/* ---> RESUME PAGE STYLES END <-- */

/* ---> PROJECT PAGE STYLES START <--- */
#project-img {

}

#project {

}


/* ---> PROJECT PAGE STYLES END <--- */

/* ---> ABOUT ME PAGE STYLES START <--- */

#about-img {
  width: 50%;
  margin-left: 22%;
}

#aboutme {
  margin-left: 36%;
  font-size: 90px;
  color: blue;
}

.p-container {
  width: 50%;
  margin-left: 22%;
  word-spacing: 4px;
}

/* ---> ABOUT ME PAGE STYLES END <--- */
#open-txt {
  margin-top: 2%;
  text-align: center;
  font-size: 30px;
}

#root-image {
  width: 100%;
  max-height: 500px;
}


.bottom-row {
  display: inline;

}

.col {
  margin-bottom: 5%;
}

.img-ani {
  margin-left: 40%;
}

p {
  white-space: pre-wrap;
  text-align: center;
}
