.bg-red {
  background-color: #ff4242;
  border-bottom: 2px solid black;
  opacity: 0.8;
}

#open-txt {
  margin-top: 2%;
  text-align: center;
  font-size: 30px;
}

#bottom-layout {
  text-align: center;
}

.github {
  margin-right: 14%;
  margin-left: 14%
}

#root-image {
  width: 100%;
  max-height: 500px;
}

#bottom-image {
  width: 100%;
  max-height: 230px;
}

#resume {
  width: 45%;
  margin-left: 45%;
  margin-top: -20%;
}

#self-img {
  width: 30%;
  height: 350px;
  margin-left: 10%;
  margin-top: 1%;
}

#page-footer {
  text-align: center;
  margin-bottom: -16%;
  color: white;
}

#page-footer-ctpg {
  text-align: center;
  margin-top: 10%;
  margin-bottom: -16%;
  color: white;
}


#about-img {
  width: 50%;
  margin-left: 25%;
}

#aboutme {
  margin-left: 40%;
  font-size: 90px;
  color: blue;
}

#idea-img {
  margin-left: 40%;
}

.reflect-container {
  width: 50%;
  margin-left: 21%;
  word-spacing: 5px;
}

.resume-page {
  background-color: #8ec3eb;

}

#reflecth1 {
  margin-left: 36%;
  font-size: 50px;
  color: blue;
}

#reflecth2 {
  margin-left: 27%;
  font-size: 50px;
  color: blue;
}

.img-bottom {
  height: 205px;
  vertical-align: middle;
  border-style: none;
  width: 50%;
}

.p-container {
  width: 50%;
  margin-left: 25%;
  word-spacing: 4px;
}

.bottom-row {
  display: inline;

}

p {
  white-space: pre-wrap;
  text-align: center;
}

.col {
  margin-bottom: 5%;
}

.img-ani {
  margin-left: 40%;
}
